@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

* {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0px 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.icon {
    height: 50px;
}
.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.navbar li:last-child {
    padding-right: 0px;
}

.content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.content .main_image {
    grid-column: span 2;
    width: 100%;
}

.content h1{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.content .para {
    padding-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.content .para button {
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: hsl(5, 85%, 63%);
}
.new-class {
    background-color: black;
    padding: 20px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.new-class h1{
    font-family: 'Inter', sans-serif;
    color: hsl(35, 77%, 62%);
    font-weight: 800;
}

.new-class .section h2 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: medium;   
}

.new-class .section p {
    color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    font-size: medium;
    line-height: 1.5;
    font-weight: 300;
}

hr {
    margin: 30px 0px;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row img {
    height: 120px;
    width: 100px;
}

.flex-col {
    box-sizing: border-box;
    padding: 20px;
}

.flex-col h2 {
    margin-top: 10px;
}

.flex-col p {
    font-size: small;
}

.mobile-img{
    display: none;
}

.main_image {
    display: inline;
}

@media screen and (max-width: 480px) {
    .content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .icon {
        width: 20px;
    }
    .main_image{
        display: none;
    }

    .mobile-img {
        display: inline;
        width: 100%;
    }
    .new-class {
        grid-column: 1;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .navbar li {
        display: block;
    }
  }